/node_modules
/.idea/*
/public/hot
/public/uploads
/public/assets
/public/mix-manifest.json
/public/favicon.ico
/storage/*.key
/storage/xdebug-output
/storage/temp
/vendor
/data/
/storage/clockwork
_ide_helper.php
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.rnd
docker-compose.override.yml
docker-compose.yml
.php-cs-fixer.cache

/_ide_helper*
/.phpstorm.meta.php

/app/Console/Commands/Test.php

