@import "slogan";
@import "life-style";
@import "membership";
@import "clubs";
@import "packages";
@import "become_member";
@import "testimonials";
@import "easy-steps";
@import "insagram-feed";
@import "whats-on-banner";


.join-today-block {
  background: linear-gradient(270.68deg, #00b8dd 0, #2a87a9 100%);
}

.request-corporate-pricing {
  max-width: 450px;
  width: 100%;
}
